{% include 'header.html.twig' %}

<link rel="stylesheet" href="{{ asset('css/Tableau.css') }}">

<table border="3">
  <thead>
    <tr>
      <th>Entreprise</th>
      <th>Adresse</th>
      <th>Ville</th>
      <th>Supprimer</th>
      <th>Modifier</th>
      
    </tr>
  </thead>
  <tbody>
    {% for listeentreprises in listeentreprises %}
      <tr>
        
        <td><a href="{{ path('DetailEntreprise', {'id': listeentreprises.id }) }}">{{listeentreprises.EntRS}}</a></td>
        <td>{{ listeentreprises.Adresse }}</td>
        <td>{{ listeentreprises.EntVille }}</td>
        <td><a href="{{ path('SupprimerEntreprise', {'id': listeentreprises.id }) }}"><img src="{{ asset('images/supprimer.png') }}" width="30" height="30" alt="Supprimer"></a></td>
        <td><a href="{{ path('ModifierEntreprise', {'id': listeentreprises.id }) }}"><img src="{{ asset('images/modifier.png') }}" width="30" height="30" alt="Modifier"></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
