<!DOCTYPE html>
<html>
	<head>
		<title>Connexion</title>
		<link href="{{ asset('css/style.css') }}" rel="stylesheet">
	</head>
	<body>
		<div class="login-box">
			<div class="cercle"><img src="{{ asset('images/chataigneraie.png') }}" alt="Logo"></div>
			<div class="box-log">
				{{ form_start(connexionform) }}
				<div class="user-box">
					{{ form_label(connexionform.util_login, 'Nom Utilisateur') }}
					<div class="widget">
						{{ form_widget(connexionform.util_login) }}
					</div>
				</div>
				<div class="user-box">
					{{ form_label(connexionform.util_mdp, 'Mot de passe') }}
					{{ form_widget(connexionform.util_mdp) }}
				</div>
				<center>
					<button type="submit">
						Se connecter<span></span>
					</button>
				</center>
				{{ form_end(connexionform) }}
			</div>
		</div>
	</body>
</html>
