<div>
    <h1>Page Login</h1>
    {{ form_start(loginform) }}
      {{ form_row(loginform.identifiant) }}
      {{ form_row(loginform.mdp) }}
      {{ form_row(loginform.connexion) }}
    {{ form_end(loginform) }}
</div> 